name: Publish to R2

on:
  workflow_call:
    inputs:
      path:
        required: true
        type: string
      lfs:
        required: false
        default: false
        type: boolean
      target_dir:
        required: false
        default: ''
        type: string

jobs:
  publish-main:
    if: github.ref == 'refs/heads/main'
    uses: freedomofpress/actionslib/.github/workflows/publish-r2.yaml@main
    with:
      path: ${{ inputs.path }}
      lfs: ${{ inputs.lfs }}
      target_dir: ${{ inputs.target_dir }}
    secrets:
      R2_ACCESS_KEY_ID: ${{ secrets.PROD_R2_ACCESS_KEY_ID }}
      R2_SECRET_ACCESS_KEY: ${{ secrets.PROD_R2_SECRET_ACCESS_KEY }}
      R2_ACCOUNT_ID: ${{ secrets.PROD_R2_ACCOUNT_ID }}
      R2_BUCKET: ${{ secrets.PROD_R2_BUCKET }}

  publish-release:
    if: github.ref == 'refs/heads/release'
    uses: freedomofpress/actionslib/.github/workflows/publish-r2.yaml@main
    with:
      path: ${{ inputs.path }}
      lfs: ${{ inputs.lfs }}
      target_dir: ${{ inputs.target_dir }}
    secrets:
      R2_ACCESS_KEY_ID: ${{ secrets.QA_R2_ACCESS_KEY_ID }}
      R2_SECRET_ACCESS_KEY: ${{ secrets.QA_R2_SECRET_ACCESS_KEY }}
      R2_ACCOUNT_ID: ${{ secrets.QA_R2_ACCOUNT_ID }}
      R2_BUCKET: ${{ secrets.QA_R2_BUCKET }}
